@import "../../styles/variables";
@import "../../styles/mixins";

ul {
  list-style-type: none; // Remove default bullets
  padding: 0; // Remove default padding
}

li {
  position: relative; // Positioning for the arrow
  padding-left: 25px; // Space for the arrow
  margin-bottom: 20px; // Add space between each item
}

li::before {
  content: "🎯"; // Arrow character
  position: absolute; // Position the arrow
  left: 0; // Align it to the left
  color: $text-muted; // Arrow color
  font-size: 1.1rem;
}
