// src/styles/_mixins.scss
@mixin card {
  background: $bg-card;
  border-radius: $border-radius;
  padding: 1.5rem;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(254, 205, 211, 0.03) 0.25px 1px 0px 0px inset,
      rgba(3, 2, 2, 0.02) 0px 0.3px 0.3px 0px,
      rgba(3, 2, 2, 0.02) 0px 2.2px 2.5px -0.4px,
      rgba(3, 2, 2, 0.02) 0px 4.3px 4.8px -0.8px,
      rgba(3, 2, 2, 0.02) 0px 7.5px 8.4px -1.2px,
      rgba(3, 2, 2, 0.02) 0px 12.8px 14.4px -1.7px,
      rgba(3, 2, 2, 0.02) 0px 21px 23.6px -2.1px,
      rgba(3, 2, 2, 0.02) 0px 33.2px 37.4px -2.5px;
  }
}
